<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          {% if site.data.social %}
            {% include social.html %}
          {% endif %}
          <div class="copyright">
            <a href="https://slingshot.heydavid.io/terms" target="blank">Terms of Use</a> | 
            <a href="https://slingshot.heydavid.io/privacy" target="blank">Privacy Policy</a>
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>
